Repository Epitech-2nd-Year-Projects/Raytracer, pull requests merged in 2025-04, with the labels that each got.

#35 Adding doxygen documentation to new core files
  src/Core/ALight.hpp
  src/Core/AMaterial.hpp
  src/Core/APrimitive.hpp
  src/Core/BoundingBox.hpp
  src/Core/Color.hpp
  src/Core/ILight.hpp
  src/Core/IMaterial.hpp
  src/Core/IPrimitive.hpp
  src/Core/Intersection.hpp
  src/Core/Ray.hpp
  src/Utility/Clamped.hpp
Labels: documentation

#40 Camera class
  CMakeLists.txt
  src/Core/Camera.hpp
  src/Math/Point.hpp
  src/Math/Rectangle.hpp
  src/Math/Vector.hpp
  tests/test_Camera.cpp
  tests/test_Rectangle.cpp
Labels: Core, Scene

#38 [RYT-14] make sphere work
  CMakeLists.txt
  src/Core/ALight.hpp
  src/Core/APrimitive.hpp
  src/Core/BoundingBox.hpp
  src/Math/Point.hpp
  src/Primitives/Sphere.cpp
  src/Primitives/Sphere.hpp
  tests/test_Sphere.cpp
Labels: enhancement, Primitive

#43 Implement scene class
  .gitignore
  CMakeLists.txt
  src/Core/ALight.hpp
  src/Core/Scene.hpp
  src/Math/Rectangle.hpp
  tests/test_Scene.cpp
Labels: Core, Scene

#45 [RYT-18] implement flat color material
  CMakeLists.txt
  src/Core/Color.hpp
  src/Lights/AmbientLight.cpp
  src/Lights/AmbientLight.hpp
  src/Materials/FlatMaterial.cpp
  src/Materials/FlatMaterial.hpp
  src/Math/Point.hpp
  tests/test_FlatMaterial.cpp
Labels: enhancement, Material

#44 Implement Renderer class
  .gitignore
  CMakeLists.txt
  src/Core/Camera.hpp
  src/Core/Renderer.cpp
  src/Core/Renderer.hpp
  src/Exceptions/OutputException.hpp
  src/Exceptions/RaytracerException.hpp
  tests/test_Renderer.cpp
Labels: Core, Output

#46 [RYT-18] add doxygen doc
  src/Core/AMaterial.hpp
  src/Core/IMaterial.hpp
  src/Materials/FlatMaterial.cpp
  src/Materials/FlatMaterial.hpp
Labels: Documentation

#48 [RYT-17] add ambient light
  CMakeLists.txt
  src/Lights/AmbientLight.cpp
  src/Lights/AmbientLight.hpp
  tests/test_AmbientLight.cpp
Labels: Enhancement, Light

#50 [RYT-30] fix camera light and flatmaterial
  src/Core/Camera.hpp
  src/Core/ILight.hpp
  src/Core/Ray.hpp
  src/Core/Renderer.cpp
  src/Lights/AmbientLight.hpp
  src/Materials/FlatMaterial.cpp
  tests/test_Camera.cpp
  tests/test_FlatMaterial.cpp
  tests/test_Ray.cpp
Labels: Light, Material

#34 Parse scene file, Implement Plane, PointLight and shadows casting in-between scene objects
  CMakeLists.txt
  README.md
  scenes/.gitkeep
  scenes/base.scene
  src/Builder/SceneBuilder.cpp
  src/Builder/SceneBuilder.hpp
  src/Core/ALight.hpp
  src/Core/AMaterial.hpp
  src/Core/IMaterial.hpp
  src/Core/IPrimitive.hpp
  src/Core/Renderer.cpp
  src/Core/Scene.hpp
  src/Factory/LightFactory.hpp
  src/Factory/MaterialFactory.hpp
  src/Factory/PrimitiveFactory.hpp
  src/Lights/DiffuseLight.hpp
  src/Lights/PointLight.hpp
  src/Materials/FlatMaterial.cpp
  src/Materials/FlatMaterial.hpp
  src/Math/Vector.hpp
  src/Parser/SceneParser.cpp
  src/Parser/SceneParser.hpp
  src/Primitives/Plane.cpp
  src/Primitives/Plane.hpp
  src/main.cpp
  tests/test_Intersection.cpp
  tests/test_SceneParser.cpp
Labels: Core, Architecture, Scene, Light, Material, Parser, Output

#57 [RYT-6] implement the transformation system
  .gitignore
  CMakeLists.txt
  src/Builder/SceneBuilder.cpp
  src/Builder/SceneBuilder.hpp
  src/Core/APrimitive.hpp
  src/Core/Camera.hpp
  src/Math/Matrix.hpp
  src/Math/Transform.hpp
  src/Primitives/Plane.cpp
  src/Primitives/Sphere.cpp
  tests/test_Matrix.cpp
  tests/test_Transform.cpp
Labels: Enhancement, Transform
